.about {
  background-color: $color-gray-light;
  letter-spacing: 0.055em;
  padding-top: 100px;
  padding-bottom: 100px;
  
  @include lg-min {
      padding-top: 100px;
      padding-bottom: 100px; 
  }
  @include lg-md {
      padding-top: 80px;
      padding-bottom: 80px; 
  }
  @include md-sm {
      padding-top: 60px;
      padding-bottom: 60px; 
  }
  @include sm {
      padding-top: 60px;
      padding-bottom: 60px; 
  }
 

  &__container {
      display: grid;
      grid-template-columns: 1fr 271px;
      grid-gap: 100px;
      max-width: $ul;
      margin: auto;
      padding-left: $gap;
      padding-right: $gap;

      @include lg-md {
          grid-gap: 40px;
          grid-template-columns: 1fr 271px;
      }
      @include md-sm {
          grid-gap: $gap;
          grid-template-columns: 1fr 236px;
      }
      @include sm {

          grid-gap: $gap;
          grid-template-columns: 1fr;
          
      }


  }   
  &__content p:first-of-type {
      position: relative;
      margin-top: -5px;
      

      &::after {
          position: absolute;
          height: 200px;
          width: 2px;
          background-color: rgba(99, 117, 136, 0.1);
          top: 0;
          
          content: "";

          @include lg-min {
              right: -50px;
          }
          @include lg-md {
              right: (-$gap);
          }
          @include md-sm {
              right: -10px;
          }
          @include sm {
              display: none;
          }

      }
  }
  
  &__content p:last-of-type {
      margin: 0;
  }
  &__image{
      display: grid;
      align-content: center;
      justify-items: center;

      & img {
          max-width: 100%;
          max-height: 480px;
      }
  }
}
.about__content p {

  @include lg-min {
      font-size: 1.125rem;
  }
}

h2 {
  color: $color-primary;
  font-family: $font-header;
  
  margin-top: 0;
  margin-bottom: 56px;;
  letter-spacing: 0.1em;
  line-height: 1.2em;

  @include lg-min {
      font-size: 2.5rem;
  }

  @include lg-md {
      font-size: 2rem;
      margin-bottom: 42px;
  }
  @include md-sm {
      font-size: 1.5rem;
      margin-bottom: 36px;
  }
  @include sm {
      display: block;
      margin-bottom: 36px;
      text-align: center;
      font-size: 1.5rem;
      
  }
}