.about {
  background-color: $color-gray-light;
  padding: 100px 0;

  @media (max-width: 576px) {
    padding: 40px 0;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
    }
    & h2 {
      width: 100%;
      text-align: center;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 271px;
    grid-column-gap: 100px;
    max-width: 1340px;
    margin: auto;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 200px;
      width: 0.5px;
      background-color: rgba(99, 117, 136, 0.1);    
      right: -50px;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
  }
}

p {
  display: block;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: $color-gray;
  font-family: $font-main;
}

h2 {
  display: block;
  margin-top: 0;
  letter-spacing: 0.1em;
  color: $color-primary;
  font-family: $font-header;
  line-height: 1.2em;
  margin-bottom: 56px;
  font-size: 2.5rem;
}