.form {
  background-color: $color-primary;
  padding: 30px 0;

  &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $gap;
      max-width: $ul;
      margin: auto;
      padding-right: $gap;
      padding-left: $gap;
  
      @include md-sm {
          grid-template-columns: 1fr 1fr;
      }

      @include sm {
          grid-template-columns: 1fr;
      }
  }
  
}
.form-item {
  &:nth-of-type(1) {
      @include md-sm {
          grid-column: 1 / span 2;
      }
  }
  &__input {
      display: block;
      color: $color-light;
      height: 60px;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      background-color: rgba($color-light,0.05);
      border: 2px solid rgba($color-light, 0);
      border-bottom-color: rgba($color-light, 0.25);
      font-family: sans-serif;
      letter-spacing: 0.15em;
      font-size: 1.125rem;
      transition: background-color 0.5s, border-color 0.5s;
      
      &:hover {
          background-color: rgba($color-light,0.15);
          border: 2px solid rgba($color-light, 0.25);
          border-bottom-color: $color-light;
      }
      
      &::placeholder {
          color: rgba($color-light,0.25);
      }
  } 
}

.btn-subscribe {
  width: 100%;
  display: block;
  height: 60px;
  background-color: rgba($color-light,0.1);
  border: 2px solid rgba($color-light, 0);
  border-bottom-color: rgba($color-light, 0.25);
  color: $color-light;
  letter-spacing: 0.15em;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  transition: 0.5s;

  &:hover {
      background-color: $color-accent;
      border: 2px solid $color-light;
      cursor: pointer;
  } 
}