* {
  background-origin: border-box;
}
 html {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   overflow-y: scroll;
}
a {
  color: $color-light;
  text-decoration: none;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.08em;
  font-size: 3.75rem;
  line-height: 1.25em;
}
.btn {
  min-width: 250px;
  border: 2px solid $color-light;
  display: block;
  font-size: 1.125rem;
  text-align: center;
  padding: 18px 20px;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.btn--light {
  border: 2px solid $color-light;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn--light:hover {
  background-color: $color-accent;
}
.btn--primary {
  border: 2px solid $color-primary;
  min-width: 350px;
  background-color: rgba(red 0.8);
}
.btn--primary:hover {
  background-color: $color-accent;
}