.skills {
  @include sm-min {
    margin-bottom: 30px;
    padding: $gap / 2;
  }
  @include sm {
    padding: $gap;
  }
  
  &__container {
    display: grid;
    grid-auto-rows: calc(33.3333vh - 13.333px);
    margin-bottom: $gap;
    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      gap: $gap / 2;
    }
    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      gap: $gap / 2;
    }
    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      gap: $gap / 2;
    }
    @include sm {
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
      gap: $gap;
    }
      @media (min-height: 691px) {
        grid-auto-rows: calc(33.3333vh - 13.333px);
      }
      @media (max-height: 690px) {
        grid-auto-rows: calc(33.3333vh - 13.333px);
      } 
  }
  &__actions {
    display: flex;
    justify-content: center;
  }
}
