.header-navbar {
  &__btn {
  display: none;
  }
  &__list {
    display: grid;
    justify-content: flex-end;
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  }
  &__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__link { 
    display: block;
    padding: 20px 10px;
    font-size: 1.125rem;
    letter-spacing: 0.09em;
    transition: color 0.5s;

    &:hover,
    &:focus {
    color: $color-accent;
    }
  }
}



