.header-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1340px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}