.header {
  min-height: 100vh;
  background-color: #2d3651;
  color: #ffffff;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}