.header {
  min-height: 100vh;
  background-color: $color-primary;
  color: $color-light;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;
  display: grid; 
  align-content: center;
}