.header-content {
  position: relative;
  &__title {
    margin: 0 0 53px 0;
  }
  &__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .btn:first-of-type {
    margin-right: 20px;
  }
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1340px;
    margin: auto;
  }  
}
