.header-content {
  position: relative;
  &__title {
    @include lg-min {
      margin: 0 0 53px 0;
    }
    @include lg-md {
      margin: 0 0 43px 0;
    }
    @include md {
      margin: 0 0 33px 0;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  .btn:first-of-type {
    @include sm-min {
      margin-right: $gap;
    }
    @include sm {
      margin-bottom: $gap;
    }
  }
}

  &__container {
    @extend %container;
  }
}
