.header-logo {
  font-size: 1.5rem;
  letter-spacing: 0.22em;
  margin-top: $gap;
  margin-bottom: $gap;
  &__link {
    padding: $gap $gap $gap 0px;
  }
  &__accent {
    display: inline-block;
    border: 3px solid $color-highlight;
    padding: 14px 1px 13px 5px;
    margin-right: 4px;
  }
}