.header-navbar {
  &__list {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    @include unlist(0 (-$gap) 0 0);
  }
  &__item {
    margin-left: $gap / 2;
    margin-right: $gap / 2;
  }
  &__link {
    display: block;
    padding: $gap $gap / 2;
    font-size: 1.125rem;
    letter-spacing: 0.09em;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
  &__btn {
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: 25px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
}

.header-navbar__btn {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 25px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.header-navbar__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color-light;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.header-navbar__btn-row:nth-child(1) {
  top: 0px;
}

.header-navbar__btn-row:nth-child(2) {
  top: 9px;
}

.header-navbar__btn-row:nth-child(3) {
  top: 18px;
}

.header-navbar__btn.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.header-navbar__btn.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.header-navbar__btn.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}
@media screen and (max-width: 768px) {
  .header-navbar {
    display: flex;
    justify-content: flex-end;
  }

  .header-navbar__btn {
    display: block;
    margin: 0;
  }

  .header-menu {
    background-color: #44596e40;
    box-shadow: -3px 3px 20px -10px #000000;
  }

  .header-navbar__list {
    position: absolute;
    top: 100%;
    right: 20px;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    background-color: #44596ee6;
    box-shadow: -3px 3px 20px -10px #000000;
  }
}
