.header-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    @extend %container;
  }
}